* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto Condensed', sans-serif;
}

header {
  background-color: #52796f;
  display: flex;
  align-items: center;
  justify-content: center;
}

header img {
  padding: 25px;
  filter: drop-shadow(10px 10px 10px black);
}

header h1 {
  text-align: center;
  padding: 25px;
  font-size: 2rem;
}

nav {
  background-color: #2f3e46;
  margin: 0 auto;
  max-width: 800px;
}

nav ul {
  list-style-type: none;
  margin-top: 0px;
}

nav a {
  color: white;
  display: block;
  text-align: center;
  padding: 1rem;
  text-decoration: none;
}

nav a:hover {
  background-color: #cad2c5;
  color: black;
}

main h2 {
  margin: 25px;
  text-align: center;
}

.card {
  border: solid black 1px;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 15px;
}

.card h3 {
  background-color: #52796f;
  text-align: center;
  font-size: 1.5rem;
  padding: 5px;
}

.card ul {
  list-style-type: none;
  text-align: left;
  padding: 10px;
}

.card p {
  padding: 10px;
  text-align: center;
}

footer {
  background-color: #52796f;
  margin-top: 25px;
  display: flex;
  text-align: center;
  align-items: center;
}

footer p {
  font-size: 1rem;
  padding: 10px;
  text-align: center;
}

footer img {
  padding: 10px;
}
