* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto Condensed', sans-serif;
}

header {
  background-color: #23395b;
  display: flex;
  align-items: center;
  justify-content: center;
}

header img {
  padding: 25px;
  filter: drop-shadow(10px 10px 10px black);
}

header h1 {
  text-align: center;
  padding: 25px;
  font-size: 2rem;
  color: white;
}

#mode {
  position: absolute;
  top: 0.5rem;
  right: 1rem;
  font-size: 0.75rem;
  cursor: pointer;
}

#menu {
  font-size: 1.5rem;
  border: 1px solid rgba(0, 0, 0, 0.3);
  padding: 5px;
  background-color: #eee;
  color: #000;
  position: absolute;
  right: 1rem;
  z-index: 1000;
}

#menu::before {
  content: '☰';
}

#menu.open::before {
  content: '❌';
}

.navigation {
  display: flex;
  flex-direction: column;
  list-style: none;
  background-color: #161925;
}
.navigation li {
  display: none;
}
.navigation li a {
  display: block;
  padding: 1rem;
  text-align: center;
  text-decoration: none;
  color: #fff;
}
.navigation li a:hover {
  background-color: #8ea8c3;
  color: black;
  font-weight: 700;
}

.open li {
  display: block;
  width: 100%;
}
.open li a {
  display: block;
}

.darkMode {
  background-color: #121212;
  color: white;
}

.darkMode .card {
  box-shadow: none;
  border: solid white 1px;
}

#hero {
  position: relative;
}

.hero-img {
  max-width: 100%;
  height: auto;
}

#hero-label {
  position: absolute;
  top: 30px;
  left: 10px;
  border: 1px solid rgba(0, 0, 0, 0.75);
  padding: .5rem;
  box-shadow: 0 0 3rem black;
}

#hero-label p {
  margin: 0;
  font-weight: 700;
  font-size: 1rem;
  color: black;
}

main h2 {
  margin: 25px;
  text-align: center;
  font-size: 24px;
}

.card {
  border: solid black 1px;
  box-shadow: 0px 0px 2px 2px gray;
  margin: 15px;
}

.card h3 {
  background-color: #23395b;
  text-align: center;
  font-size: 20px;
  padding: 5px;
  color: white;
}

.card li {
  margin: 5px;
}

.card ul {
  list-style-type: none;
  text-align: left;
  padding: 10px;
  font-size: 16px;
}

.darkMode a {
  color: white;
}

.darkMode a:visited {
  color: white;
}

.darkMode form {
  border-color: white;
}

.card p {
  padding: 10px;
  text-align: center;
  font-size: 16px;
  margin: 8px;
}

iframe {
  display: block;
  margin: 0 auto;
  width: 350px;
  height: 350px;
}

footer {
  background-color: #23395b;
  margin-top: 25px;
}

#footerCopyRight {
  font-size: 16px;
  padding: 5px;
  text-align: center;
  color: white;
}

#footerDate {
  font-size: 14px;
  padding: 5px;
  text-align: center;
  color: yellow;
}
