* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto Condensed', sans-serif;
}

header {
  background-color: #23395B;
  display: flex;
  align-items: center;
  justify-content: center;
}

header img {
  padding: 25px;
  filter: drop-shadow(10px 10px 10px black);
}

header h1 {
  text-align: center;
  padding: 25px;
  font-size: 2rem;
  color: white;
}

nav {
  background-color: #161925;
  margin: 0 auto;
  max-width: 800px;
}

nav ul {
  list-style-type: none;
  margin-top: 0px;
}

nav a {
  color: white;
  display: block;
  text-align: center;
  padding: 1rem;
  text-decoration: none;
}

nav a:hover {
  background-color: #8EA8C3;
  color: black;
}

main h2 {
  margin: 25px;
  text-align: center;
  font-size: 24px;
}

.card {
  border: solid black 1px;
  box-shadow: 0px 0px 2px 2px gray;
  margin: 10px;
}

.card h3 {
  background-color: #23395B;
  text-align: center;
  font-size: 20px;
  padding: 5px;
  color: white;
}

.card li {
  margin: 5px;
}

.card ul {
  list-style-type: none;
  text-align: left;
  padding: 10px;
  font-size: 16px;
}

.card p {
  padding: 10px;
  text-align: center;
  font-size: 16px;
  margin: 8px;
}

footer {
  background-color: #23395B;
  margin-top: 25px;
}

#footerCopyRight {
  font-size: 16px;
  padding: 5px;
  text-align: center;
  color: white;
}

#footerDate {
  font-size: 14px;
  padding: 5px;
  text-align: center;
  color: yellow;
}