:root {
    --form-border: solid black 1px;
    --required-red: solid red 6px;
    --required-green: solid green 6px;
}

fieldset {
    border: none;
}

form {
    border: var(--form-border);
    border-radius: 25px;
    margin: 50px;
    padding: 25px;
}

form label {
    display: block;
}

form input[type=text], form input[type=password],
form input[type=email] {
    margin-bottom: 15px;
    height: 44px;
    width: 300px;
    padding: 0.5rem;
}

form input[type=range] {
    height: 44px;
    width: 300px;
    margin-top: -15px;
}

input:required {
    border-left: var(--required-red)
}

input:required:valid {
    border-left: var(--required-green)
}

.submitBtn {
    width: 125px;
    padding: 10px;
    font-size: 1.5rem;
    margin-left: 15px;
}

@media (max-width: 639px) {
    form input[type=text], form input[type=password],
    form input[type=email] {
        width: 200px;
    }

    form input[type=range] {
        width: 200px;
    }

    .submitBtn {
        width: 100px;
        padding: 5px;
        font-size: 1rem;
    }
}