@media (min-width: 640px) {
  #menu {
    display: none;
  }

  #mode {
    top: 5px;
    right: 5px;
    font-size: 1rem;
  }

  .navigation {
    flex-direction: row;
  }

  .navigation li {
    display: block;
    flex: 1 1 100%;
  }

  .hero-img {
    width: 100%;
    height: auto;
  }

  #hero-label {
    position: absolute;
    top: 400px;
    left: 60px;
    border: 1px solid rgba(0, 0, 0, 0.75);
    padding: 1.5rem;
    box-shadow: 0 0 25px black;
    color: black;
  }
  
  #hero-label p {
    margin: 0;
    padding: 0.25rem;
    font-weight: 700;
    font-size: 3rem;
  }

  main {
    height: 100%;
    width: 100%;
  }

  main h2 {
    text-align: left;
    margin-bottom: 10px;
  }

  .container {
    display: grid;
    grid-template-columns: 3fr 2fr;
  }

  .card {
    border: solid black 1px;
    box-shadow: 0px 0px 3px 3px gray;
    margin: 15px;
  }

  iframe {
    display: block;
    margin: 0 auto;
    width: 90%;
  }

  footer {
    width: 100%;
    margin-top: 25px;
  }

  #footerCopyRight {
    font-size: 18px;
    padding: 5px;
    text-align: center;
    color: white;
  }

  #footerDate {
    font-size: 16px;
    padding: 5px;
    text-align: center;
    color: yellow;
  }
}
