@media (min-width: 640px) {
  #menu {
    display: none;
  }

  #mode {
    top: 5px;
    right: 5px;
    font-size: 1rem;
  }

  .navigation {
    flex-direction: row;
  }

  .navigation li {
    display: block;
    flex: 1 1 100%;
  }

  .hero-img {
    max-width: 100%;
    height: auto;
  }

  #hero-label {
    padding: 2rem;
    left: 100px;
    top: 100px;
  }

  #hero-label p {
    font-size: 2.5rem;
  }

  main {
    height: 100%;
    width: 100%;
  }

  main h2 {
    text-align: left;
    margin-bottom: 10px;
  }

  .container {
    display: grid;
    grid-template-columns: 3fr 2fr;
  }

  .card {
    border: solid black 1px;
    box-shadow: 0px 0px 3px 3px gray;
    margin: 15px;
  }

  iframe {
    display: block;
    margin: 0 auto;
    width: 90%;
  }

  footer {
    width: 100%;
    margin-top: 25px;
  }

  #footerCopyRight {
    font-size: 18px;
    padding: 5px;
    text-align: center;
    color: white;
  }

  #footerDate {
    font-size: 16px;
    padding: 5px;
    text-align: center;
    color: yellow;
  }
}
