header h1 {
    text-align: center;
}

main {
    margin: 0 auto;
    width: 400px;
    display: flex;
    flex-direction: column;
}

img {
    width: 100%;
    margin-bottom: 15px;
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

footer {
    text-align: center;
}