@import url('https://fonts.googleapis.com/css2?family=Lato&family=Permanent+Marker&display=swap');

body {
  font-family: 'Lato', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #3a5a40;
}

#logo {
  margin: 10px;
}

#menu {
  font-size: 2rem;
  padding: 5px;
  background-color: #3a5a40;
  color: white;
  position: absolute;
  right: 0.55rem;
  top: .8rem;
  border: none;
}

#menu::before {
  content: '☰';
}

#menu.open::before {
  content: '❌';
}

.navigation {
  display: flex;
  flex-direction: column;
  list-style: none;
  background-color: #c5afa4;
}
.navigation li {
  display: none;
}
.navigation li a {
  display: block;
  padding: 1rem;
  text-align: center;
  text-decoration: none;
  color: black;
}
.navigation li a:hover {
  background-color: #6d4c3d;
  color: white;
  font-weight: 700;
}

.open li {
  display: block;
  width: 100%;
}
.open li a {
  display: block;
}

#home-hero {
  width: 100%;
}

#weather-card {
  background-color: #c5afa4;
  padding: 10px;
  margin-top: -3px;
  text-align: center;
  font-size: 1.55rem;
  width: 100%;
}

main h1 {
  text-align: center;
  font-family: 'Permanent Marker';
  font-size: 1.9rem;
}

#join-card {
  padding: 25px;
  text-align: center;
  font-size: 1.4rem;
  margin: 25px;
}

#join-card p {
  margin-bottom: 50px;
}

.joinBtn {
  background-color: #3a5a40;
  color: white;
  text-decoration: none;
  font-size: 2rem;
  padding: 10px;
  border: solid .5px #3a5a40;
  border-radius: 10px;
}

#events-container {
  background-color: #a3b18a;
  padding-bottom: 10px;
}

#events-container h1 {
  font-family: 'Lato', sans-serif;
  text-align: center;
  padding-top: 15px;
  font-size: 1.75rem;
}

#events-container h2 {
  text-align: center;
  font-size: 1.3rem;
}

.events-img {
    border: solid 1px black;
    border-radius: 15px;
}

#spotlight-title {
    text-align: center;
    font-family: 'Lato', sans-serif;
}

.spotlight-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.spotlight-txt {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 25px;
  margin-left: 10px;
  margin-right: 10px;
}

.spotlight-button {
  text-align: center;
  background-color: #6d4c3d;
  font-size: 1.25rem;
  margin-top: 10px;
  padding: 5px;
  border: solid 1px black;
  border-radius: 5px;
}

.spotlight-button a {
  text-decoration: none;
  color: white;
}

.spotlight-button a:visited {
  color: white;
}

.home-card {
  text-align: center;
  margin-bottom: 50px;
}

.home-card h2 {
  padding: 10px;
}

.home-card p {
  margin: 5px;
}

/* Discover page start */

.discover-title {
  font-family: 'Permanent Marker';
  text-align: center;
  font-size: 2.35rem;

}

.visits, .weather, .popular, .attractions, .lodging, .eating {
  text-align: center;
  margin: 25px;
  border: solid 1px black;
}

.right {
  text-align: center;
}

.right p {
  padding-bottom: 5px;
}

.visits {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
}

.visits p {
  font-size: 1.75rem;
  padding: 25px;
}

.attractions ul li, .lodging ul li {
  list-style-type: none;
}

.weather h2, .popular h2, .attractions h2, .lodging h2, .eating h2 {
  background-color: #6d4c3d;
  color: white;
  padding: 5px;
}

.popular p {
  padding: 9px;
  font-size: 1rem;
}

.attractions h3 , .lodging h3, .eating h3 {
  padding: 5px;
}

.weather h2, .weather h3, .weather p, .weather h4 {
  padding: 5.25px;
}

.attractions ul li {
  padding: 7px;
}

.lodging ul li {
  padding: 10px;
}

.restaraunt {
  padding: 5px;
}

/* Join Page Start */
.join-container h1 {
  font-size: 2.5rem;
}

.membership-levels {
  border: solid #6d4c3d 5px;
  border-radius: 25px;
  background-color: #c5afa4;
  margin: 25px;
  padding: 25px;
}

.membership-levels ul li {
  list-style-type: none;
  padding: 5px;
}

.fee {
  font-weight: bold;
}

form fieldset {
  margin: 25px;
  padding: 25px;
  border: solid black 1px;
  border-radius: 10px;
}

form legend {
  padding: 0 10px;
}

form label.above {
  display: block;
  margin-bottom: 10px;
  text-align: left;
}

input[type="text"],
input[type="email"],
input[type="tel"] {
  width: 100%;
  height: 44px;
  padding: 10px;
  border: solid black 1px;
  border-radius: 5px;
}

div.side {
  text-align: left;
  margin-top: 5px;
}

form label.side {
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: left;
  padding: 5px;
}

textarea {
  width: 100%;
  height: 100px;
  padding: 10px;
  border: solid black 1px;
  border-radius: 5px;
}

.sbmtBtn {
  padding: 10px;
  font-size: 1.75rem;
  width: 40%;
  background-color: #6d4c3d;
  color: white;
  border: none;
  border-radius: 7px;
  margin-bottom: 25px;
}

form input:required {
  border: solid red 2px;
}

form input:required:valid {
  border: solid black 1px;
}

/* Submission page start */
#tybody {
  background-color: #c5afa4;
}

#tymain {
  text-align: center;
}

#tymain h1 {
  font-size: 2.5rem;
}

#tymain h2 {
  margin-bottom: 50px;
}

.homeBtn {
  background-color: #6d4c3d;
  color: white;
  text-decoration: none;
  padding: 10px;
  font-size: 1.5rem;
}

footer {
  background-color: #3a5a40;
  color: white;
  padding: 10px;
}

.footerCopy {
  text-align: center;
  padding-top: 15px;
}






