@import url('https://fonts.googleapis.com/css2?family=Lato&family=Permanent+Marker&display=swap');

body {
  font-family: 'Lato', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #3a5a40;
}

#logo {
  margin: 10px;
}

#menu {
  font-size: 2rem;
  padding: 5px;
  background-color: #3a5a40;
  color: white;
  position: absolute;
  right: 0.55rem;
  top: .8rem;
  border: none;
}

#menu::before {
  content: '☰';
}

#menu.open::before {
  content: '❌';
}

.navigation {
  display: flex;
  flex-direction: column;
  list-style: none;
  background-color: #c5afa4;
}
.navigation li {
  display: none;
}
.navigation li a {
  display: block;
  padding: 1rem;
  text-align: center;
  text-decoration: none;
  color: black;
}
.navigation li a:hover {
  background-color: #6d4c3d;
  color: white;
  font-weight: 700;
}

.open li {
  display: block;
  width: 100%;
}
.open li a {
  display: block;
}

#home-hero {
  width: 100%;
}

#home-title {
  background-color: #6d4c3d;
  color: white;
  text-align: center;
  font-size: 1.78rem;
  padding: 5px;
  margin-top: -4px;
  padding-bottom: 4px;
}

#weather-card {
  background-color: #c5afa4;
  padding: 10px;
  margin-top: -19px;
  text-align: center;
  font-size: 1.55rem;
  width: 100%;
}

#join-info {
  font-size: 1.5rem;
  text-align: center;
  margin: 10px;
}

#join-card {
  padding: 25px;
  text-align: center;
  font-size: 1.4rem;
  margin: 25px;
}

#join-card button {
  background-color: #3a5a40;
  color: white;
  font-size: 2rem;
  padding: 10px;
  margin: 10px;
  border: solid .5px black;
  border-radius: 5px;
}

#events-container {
  background-color: #a3b18a;
  padding-bottom: 10px;
}

#events-container h1 {
  text-align: center;
  padding-top: 15px;
  font-size: 1.75rem;
}

#events-container h2 {
  text-align: center;
  font-size: 1.3rem;
}

.events-img {
    border: solid 1px black;
}

#spotlight-title {
    text-align: center;
}

.spotlight-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.spotlight-txt {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 25px;
  margin-left: 10px;
  margin-right: 10px;
}

.spotlight-button {
  text-align: center;
  background-color: #6d4c3d;
  font-size: 1.25rem;
  margin-top: 10px;
  padding: 5px;
  border: solid 1px black;
  border-radius: 5px;
}

.spotlight-button a {
  text-decoration: none;
  color: white;
}

.spotlight-button a:visited {
  color: white;
}

.home-card {
  text-align: center;
  margin-bottom: 50px;
}

.home-card h2 {
  padding: 10px;
}

.home-card p {
  margin: 5px;
}

/* Discover page start */

.discover-title {
  font-family: 'Permanent Marker';
  text-align: center;
  font-size: 2.35rem;

}

.visits, .weather, .stats, .attractions, .lodging, .eating {
  text-align: center;
  margin: 25px;
  border: solid 1px black;
}

.right {
  text-align: center;
}

.right picture figcaption {
  padding-bottom: 5px;
}

.attractions ul li, .lodging ul li {
  list-style-type: none;
}

.weather h2, .stats h2, .attractions h2, .lodging h2, .eating h2 {
  background-color: #6d4c3d;
  color: white;
  padding: 5px;
}

.attractions h3 , .lodging h3, .eating h3 {
  padding: 5px;
}

.attractions ul li {
  padding: 7px;
}

.lodging ul li {
  padding: 10px;
}

.restaraunt {
  padding: 5px;
}

footer {
  background-color: #3a5a40;
  color: white;
  padding: 10px;
}

.footerCopy {
  text-align: center;
  padding-top: 15px;
}






