@media (min-width: 640px) {
  #menu {
    display: none;
  }

  header {
    text-align: center;
  }

  .navigation li {
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
  }

  .navigation a {
    margin: 0 auto;
  }

  #home-hero {
    width: 100%;
  }

  #home-banner {
    display: none;
  }

  #home-title {
    background-color: transparent;
    color: black;
    font-family: 'Permanent Marker';
    font-size: 4.25rem;
    position: absolute;
    top: 725px;
    left: 15px;
  }

  #events-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 25px;
  }

  #events-container h1 {
    grid-column: 2/3;
    padding-bottom: 10px;
  }

  #event1 {
    grid-column: 1/2;
  }

  #event2 {
    grid-column: 2/3;
  }

  #event3 {
    grid-column: 3/4;
  }
}
