@media (min-width: 640px) {
    #home-banner {
        margin-top: -5px;
        padding-bottom: 5px;
        font-size: 1.5rem;
    }

    #home-hero {
        width: 100%;
    }

    #events-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin-top: 25px;
    }

    #events-container h1 {
        grid-column: 2/3;
        padding-bottom: 10px;
    }

    #event1 {
        grid-column: 1/2;
    }

    #event2 {
        grid-column: 2/3;
    }

    #event3 {
        grid-column: 3/4;
    }
}