@media (min-width: 640px) {
  #menu {
    display: none;
  }

  #announcement {
    font-size: 2rem;
  }

  #close {
    padding: 8px;
    font-size: 1.25rem;
  }

  header {
    display: flex;
    justify-content: space-between;
  }

  #logo {
    margin-left: 20px;
  }

  nav {
    display: flex;
  }

  .navigation {
    flex-direction: row;
    background-color: #224D37;
    margin-left: 235px;
    margin-top: 20px;
  }

  .navigation ul {
    display: flex;
    list-style: none;
  }

  .navigation li {
    display: initial;
  }

  .navigation li a {
    color: white;
    font-size: 1.75rem;
    margin-right: 30px;
  }

  .navigation li a:hover {
    font-weight: bold;
    text-decoration: underline;
    background-color: #224D37;
  }

  #home-hero {
    width: 100%;
  }

  #weather-card {
    padding: 15px;
    margin-top: -49px;
  }

  .weather-container p {
    font-size: 2.25rem;
  }

  .weather-container img {
    height: 60px;
    width: 60px;
  }

  #current-temp,
  figcaption {
    font-size: 2.25rem;
  }

  #forecastContainer p {
    font-size: 1.75rem;
    margin-left: 120px;
    margin-right: 120px;
    margin-top: 10px;
  }

  #forecastContainer img {
    margin-top: 10px;
    height: 75px;
    width: 75px;
  }

  .home-h1 {
    margin-top: -52px;
  }

  .home-h1 h1 {
    font-size: 4.5rem;
    padding: 50px;
  }

  #join-card {
    padding: 50px;
    font-size: 1.8rem;
  }

  #join-card button {
    margin-top: 55px;
    font-size: 2.5rem;
    padding: 20px;
  }

  .joinBtn {
    padding: 15px;
    font-size: 2.5rem;
  }

  #events-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 25px;
  }

  #events-container h2 {
    grid-column: 2/3;
    padding-bottom: 15px;
    font-size: 4rem;
  }

  #events-container h3 {
    font-size: 1.5rem;
    padding: 10px;
  }

  #events-container p {
    font-size: 1.15rem;
  }

  #event1 {
    grid-column: 1/2;
  }

  #event2 {
    grid-column: 2/3;
  }

  #event3 {
    grid-column: 3/4;
  }

  #spotlight-title {
    font-size: 3.75rem;
    margin-top: 50px;
    margin-bottom: 40px;
  }

  .spotlights-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #spotlights-container {
    width: 50%;
  }

  #spotlights-container img {
    margin-top: 10px;
    border: solid 3px #4E3B31;
    width: 450px;
    height: 450px;
  }

  #spotlights-container h3 {
    font-size: 2.4rem;
  }

  #spotlights-container p {
    font-size: 1.6rem;
  }

  #spotlights-container a {
    font-size: 1.7rem;
    padding: 15px;
  }

  /* Discover page start */

  .discover-title {
    font-size: 5rem;
  }

  .discover-grid {
    display: grid;
    grid-template-columns: 6fr 7fr;
  }

  .right picture img {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .visits, .weather, .popular, .attractions, .lodging, .eating {
    border: solid 1px black;
    margin-top: 10px;
    margin-left: 45px;
  }

  .weather h2, .popular h2, .attractions h2, .lodging h2, .eating h2 {
    padding: 10px;
    font-size: 2rem;
  }

  .visits {
    height: 250px;
    width: 500px;
  }

  .weather {
    height: 450px;
    width: 500px;
  }

  .popular {
    height: 350px;
    width: 500px;
  }

  .popular p {
    font-size: 1.25rem;
  }

  .attractions {
    height: 750px;
    width: 500px;
  }

  .attractions h3 {
    font-size: 1.25rem;
    padding: 10px;
  }

  .attractions ul li {
    font-size: 1.1rem;
    padding: 10px;
  }

  .lodging {
    height: 400px;
    width: 500px;
  }

  .lodging h3 {
    font-size: 1.25rem;
    padding: 10px;
  }

  .lodging ul li {
    font-size: 1.1rem;
    padding: 18px;
  }

  .eating {
    height: 383px;
    width: 500px;
  }

  .restaraunt {
    padding: 10px;
  }

  #bottom-caption {
    padding-bottom: 15px;
  }

  /* Join page start */
  .join-container {
    display: grid;
    grid-template-columns: 2fr 3fr;
  }

  .right h1 {
    font-size: 5.85rem;
  }

  .left h1 {
    font-size: 3.5rem;
  }

  .membership-levels {
    font-size: 1.14rem;
  }

  /* Directory page start */
  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  }

  #directory-title {
    padding-bottom: 0px;
    font-size: 5rem;
  }

  .directory-grid.list p,
  .directory-grid.list a,
  .directory-grid.list h3 {
    font-size: 1.2rem;
  }

  footer {
    font-size: 1.25rem;
  }
}