@media (min-width: 640px) {
  #menu {
    display: none;
  }

  header {
    text-align: center;
  }

  .navigation li {
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
  }

  .navigation a {
    margin: 0 auto;
  }

  #home-hero {
    width: 100%;
  }

  #weather-card {
    margin-top: -4px;
    font-size: 1.8rem;
    width: 100%;
  }

  main h1 {
    font-size: 4.5rem;
  }

  #join-card {
    padding: 50px;
    font-size: 1.8rem;
  }

  #join-card button {
    margin-top: 55px;
    font-size: 2.5rem;
    padding: 20px;
  }

  #events-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 25px;
  }

  #events-container h2 {
    grid-column: 2/3;
    padding-bottom: 15px;
    font-size: 2.5rem;
  }

  #events-container h3 {
    font-size: 1.5rem;
    padding: 10px;
  }

  #events-container p {
    font-size: 1.15rem;
  }

  #event1 {
    grid-column: 1/2;
  }

  #event2 {
    grid-column: 2/3;
  }

  #event3 {
    grid-column: 3/4;
  }

  #spotlight-title {
    font-size: 2.5rem;
    margin-top: 50px;
  }

  #spotlights-container {
    display: grid;
    grid-template-columns: 2fr 2fr;
  }

  #spotlights-container h3 {
    font-size: 2rem;
    padding-bottom: 10px;
  }

  .spotlight-img {
    margin: 50px;
  }

  .spotlight-txt {
    margin: 50px;
  }

  .spotlight-txt h2 {
    font-size: 1.75rem;
    padding-bottom: 25px;
  }

  .spotlight-txt p {
    font-size: 1.75rem;
  }

  .spotlight-button {
    text-align: center;
    background-color: #6d4c3d;
    font-size: 1.75rem;
    padding: 10px;
    margin-top: 25px;
    border: solid 1px black;
    border-radius: 5px;
  }

  .spotlight-button a {
    text-decoration: none;
    color: white;
  }

  .spotlight-button a:visited {
    color: white;
  }

  /* Discover page start */

  .discover-title {
    font-size: 5rem;
  }

  .discover-grid {
    display: grid;
    grid-template-columns: 6fr 7fr;
  }

  .right picture img {
    margin: 15px;
  }

  .visits, .weather, .popular, .attractions, .lodging, .eating {
    border: solid 1px black;
    margin-top: 10px;
    margin-left: 45px;
  }

  .weather h2, .popular h2, .attractions h2, .lodging h2, .eating h2 {
    padding: 10px;
    font-size: 2rem;
  }

  .visits {
    height: 250px;
    width: 500px;
  }

  .weather {
    height: 450px;
    width: 500px;
  }

  .popular {
    height: 350px;
    width: 500px;
  }

  .popular p {
    font-size: 1.25rem;
  }

  .attractions {
    height: 750px;
    width: 500px;
  }

  .attractions h3 {
    font-size: 1.25rem;
    padding: 10px;
  }

  .attractions ul li {
    font-size: 1.1rem;
    padding: 10px;
  }

  .lodging {
    height: 400px;
    width: 500px;
  }

  .lodging h3 {
    font-size: 1.25rem;
    padding: 10px;
  }

  .lodging ul li {
    font-size: 1.1rem;
    padding: 18px;
  }

  .eating {
    height: 383px;
    width: 500px;
  }

  .restaraunt {
    padding: 10px;
  }

  #bottom-caption {
    padding-bottom: 15px;
  }

  /* Join page start */
  .join-container {
    display: grid;
    grid-template-columns: 2fr 3fr;
  }

  .right h1 {
    font-size: 5.85rem;
  }

  footer {
    font-size: 1.25rem;
  }
}
