@media (min-width: 640px) {
  #menu {
    display: none;
  }

  header {
    text-align: center;
  }

  .navigation li {
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
  }

  .navigation a {
    margin: 0 auto;
  }

  #home-hero {
    width: 100%;
  }

  #home-banner {
    display: none;
  }

  #home-title {
    background-color: transparent;
    color: black;
    font-family: 'Permanent Marker';
    font-size: 4.25rem;
    position: absolute;
    top: 725px;
    left: 15px;
  }

  #weather-card {
    margin: -4px;
    font-size: 1.8rem;
  }

  #join-card {
    padding: 50px;
    font-size: 1.6rem;
  }

  #join-card button {
    margin-top: 50px;
  }

  #events-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 25px;
  }

  #events-container h1 {
    grid-column: 2/3;
    padding-bottom: 10px;
    font-size: 2rem;
  }

  #events-container h2 {
    font-size: 1.5em;
  }

  #events-container p {
    font-size: 1.15rem;
  }

  #event1 {
    grid-column: 1/2;
  }

  #event2 {
    grid-column: 2/3;
  }

  #event3 {
    grid-column: 3/4;
  }

  #spotlight-title {
    font-size: 2.5rem;
    margin-top: 50px;
  }

  #spotlights-container {
    display: grid;
    grid-template-columns: 2fr 2fr;
  }

  .spotlight-img {
    margin: 50px;
  }

  .spotlight-txt {
    margin: 50px;
  }

  .spotlight-txt h2 {
    font-size: 1.75rem;
    padding-bottom: 25px;
  }

  .spotlight-txt p {
    font-size: 1.75rem;
  }

  .spotlight-button {
    text-align: center;
    background-color: #6d4c3d;
    font-size: 1.75rem;
    padding: 10px;
    margin-top: 25px;
    border: solid 1px black;
    border-radius: 5px;
  }

  .spotlight-button a {
    text-decoration: none;
    color: white;
  }

  .spotlight-button a:visited {
    color: white;
  }

  footer {
    font-size: 1.25rem;
  }
}
